QWidget:window {
    background: #ffffff;
}

QWidget {
    font-size: 14px;
    font-family: 'Microsoft YaHei UI';
}

QScrollArea {
    background: transparent;
}

QLineEdit {
    min-width: 120px;
    max-width: 180px;
    min-height: 24px;
    border-radius: 6px;
    border: 1px solid #bab8bd;
    padding: 2px;
}

QComboBox {
    min-width: 120px;
    max-width: 180px;
    min-height: 24px;
    border-radius: 6px;
    border: 1px solid #bab8bd;
    padding: 2px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
    border-left-width: 1px;
    border-left-color: darkgray;
    border-left-style: solid; 
    border-top-right-radius: 3px; 
    border-bottom-right-radius: 3px;
}

QComboBox::drop-down:hover {
    background: #972679;
}

QComboBox::down-arrow {
    width: 20px;
    image: url(:/login/arrow-down.png);
}

QComboBox::down-arrow:hover { 
    image: url(:/login/arrow-down_1.png);
}

QComboBox::down-arrow:on { 
    image: url(:/login/arrow-up.png);
}

/* 下拉后，整个下拉窗体样式 */
QComboBox QAbstractItemView {
    outline: 0px solid gray;   /* 选定项的虚框 */
    border: 1px solid #bab8bd;   /* 整个下拉窗体的边框 */
    border-radius: 6px;
    background-color: #FFFFFF;   /* 整个下拉窗体的背景色 */
    selection-background-color: #972679;   /* 整个下拉窗体被选中项的背景色 */
    padding: 4px 0;
}

/* 下拉后，整个下拉窗体每项的样式 */
QComboBox QAbstractItemView::item {
    height: 50px;   /* 项的高度（设置pComboBox->setView(new QListView());后，该项才起作用） */
}

/* 下拉后，整个下拉窗体越过每项的样式 */
QComboBox QAbstractItemView::item:hover {
    color: #FFFFFF;
    background-color: #972679;   /* 整个下拉窗体越过每项的背景色 */
}

/* 下拉后，整个下拉窗体被选择的每项的样式 */
QComboBox QAbstractItemView::item:selected {
    color: #FFFFFF;
    background-color: #972679;
}

QLabel {
   
}

QPushButton {
    min-width: 60px;
    min-height: 28px;
    max-height: 28px;
    max-width: 80px;
    background-color: #dcdcdc;
    border-radius: 6px;
    border: 2px solid #cccccc;
    margin: 2px 6px;
    padding: 0px 4px;
}

QPushButton:hover{
	color: #972679;
	border-color: #972679;
    background-color: #dcdcdd;
}

QPushButton:pressed{
	color: #f2f2f2;
	border-color: #972679;
    background-color: #972679;
}

QTableWidget {
    border: 0px solid #E0DDDC;
    background: #eaeaea;
    border-radius: 12px;
}

QTableWidget QTableCornerButton::section{
    border: 0px solid #E0DDDC;
    background: #eaeaea;
    border-radius: 12px;
}

QTableWidget::item {
}

QHeaderView {
    background: transparent;
    border: none;
}

QHeaderView::section {
    border: none;
    min-height: 32px;
    max-height: 32px;
    background-color: #eaeaea;
    border-radius: 12px;
    padding-left: 6px;
}

QScrollBar:vertical {
    background-color: rgba(255,255,255,10%);
    padding-top: 5px;
    padding-bottom: 5px;
    width: 10px;
    border: none;
}

QScrollBar::handle:vertical {
    background: #972679;
    border-radius: 5px;
    min-height: 60px;
}

QScrollBar::handle:vertical:hover {
    background: #972679;
}

QScrollBar::sub-line:vertical {
    background: url(:/login/up.png) center no-repeat;
}

QScrollBar::add-line:vertical {
    background: url(:/login/up.png) center no-repeat;
}

QTabWidget::pane {
    border: 0px solid #972679;
    border-radius: 12px;
    background: #eaeaea;
}

QTabWidget::tab-bar {
    left: 60px;
}

QTabBar::tab {
    width: 100px;
    font: 16px;
    background: #f4f4f4;
    padding: 4px;
}

QTabBar::tab:first{
    border-top-left-radius:6px;
}

QTabBar::tab:last{
    border-top-right-radius:6px;
}

QTabBar::tab:selected{
    background: #972679;
    color: #ffffff;
}